block categories
    .categories-container.subcategory                      
        .category
            a(href="#")
                img.preview(src=require("../../images/animation.png"))
                .category-logo-title
                    img.category-logo(src=require("../../images/category-logo/animation.png"))
                    p.category-title  Bikes
        .category
            a(href="#")
                img.preview(src=require("../../images/art.png"))
                .category-logo-title
                    img.category-logo(src=require("../../images/category-logo/arts_and_design.png"))
                    p.category-title Everything Else
        .category
            a(href="#")
                img.preview(src=require("../../images/animation.png"))
                .category-logo-title
                    img.category-logo(src=require("../../images/category-logo/camera_and_techniques.png"))
                    p.category-title Outdoor Sports
        .category
            a(href="#")
                img.preview(src=require("../../images/art.png"))
                .category-logo-title
                    img.category-logo(src=require("../../images/category-logo/comedy.png"))
                    p.category-title Skate
        .category
            a(href="#")
                img.preview(src=require("../../images/animation.png"))
                .category-logo-title
                    img.category-logo(src=require("../../images/category-logo/documentary.png"))
                    p.category-title Sky
        .category
            a(href="#")
                img.preview(src=require("../../images/animation.png"))
                .category-logo-title
                    img.category-logo(src=require("../../images/category-logo/animation.png"))
                    p.category-title Snow
        .category
            a(href="#")
                img.preview(src=require("../../images/art.png"))
                .category-logo-title
                    img.category-logo(src=require("../../images/category-logo/arts_and_design.png"))
                    p.category-title Surf
        