main.site-main.clearfix
    .container
        .wrap-container
            .category-title
                block titleCategory
                    h2 Categories
        block categories
            .categories-container                      
                .category
                    a(href="#")
                        img.preview(src=require("../../images/animation.png"))
                        .category-logo-title
                            img.category-logo(src=require("../../images/category-logo/animation.png"))
                            p.category-title  Animation
                .category
                    a(href="#")
                        img.preview(src=require("../../images/art.png"))
                        .category-logo-title
                            img.category-logo(src=require("../../images/category-logo/arts_and_design.png"))
                            p.category-title Arts & Design
                .category
                    a(href="#")
                        img.preview(src=require("../../images/animation.png"))
                        .category-logo-title
                            img.category-logo(src=require("../../images/category-logo/camera_and_techniques.png"))
                            p.category-title Cameras & Techniques
                .category
                    a(href="#")
                        img.preview(src=require("../../images/art.png"))
                        .category-logo-title
                            img.category-logo(src=require("../../images/category-logo/comedy.png"))
                            p.category-title Comedy
                .category
                    a(href="#")
                        img.preview(src=require("../../images/animation.png"))
                        .category-logo-title
                            img.category-logo(src=require("../../images/category-logo/documentary.png"))
                            p.category-title Documentary
                .category
                    a(href="#")
                        img.preview(src=require("../../images/animation.png"))
                        .category-logo-title
                            img.category-logo(src=require("../../images/category-logo/animation.png"))
                            p.category-title Animation
                .category
                    a(href="#")
                        img.preview(src=require("../../images/art.png"))
                        .category-logo-title
                            img.category-logo(src=require("../../images/category-logo/arts_and_design.png"))
                            p.category-title Arts & Design
                .category
                    a(href="#")
                        img.preview(src=require("../../images/animation.png"))
                        .category-logo-title
                            img.category-logo(src=require("../../images/category-logo/camera_and_techniques.png"))
                            p.category-title Cameras & Techniques
                .category
                    a(href="#")
                        img.preview(src=require("../../images/art.png"))
                        .category-logo-title
                            img.category-logo(src=require("../../images/category-logo/comedy.png"))
                            p.category-title Comedy
                .category
                    a(href="#")
                        img.preview(src=require("../../images/animation.png"))
                        .category-logo-title
                            img.category-logo(src=require("../../images/category-logo/documentary.png"))
                            p.category-title Animation
                .category
                    a(href="#")
                        img.preview(src=require("../../images/art.png"))
                        .category-logo-title
                            img.category-logo(src=require("../../images/category-logo/camera_and_techniques.png"))
                            p.category-title Arts & Design
                .category
                    a(href="#")
                        img.preview(src=require("../../images/animation.png"))
                        .category-logo-title
                            img.category-logo(src=require("../../images/category-logo/arts_and_design.png"))
                            p.category-title Cameras & Techniques
                .category
                    a(href="#")
                        img.preview(src=require("../../images/art.png"))
                        .category-logo-title
                            img.category-logo(src=require("../../images/category-logo/comedy.png"))
                            p.category-title Comedy
                .category
                    a(href="#")
                        img.preview(src=require("../../images/animation.png"))
                        .category-logo-title
                            img.category-logo(src=require("../../images/category-logo/camera_and_techniques.png"))
                            p.category-title Documentary
                .category
                    a(href="#")
                        img.preview(src=require("../../images/animation.png"))
                        .category-logo-title
                            img.category-logo(src=require("../../images/category-logo/documentary.png"))
                            p.category-title Animation
                .category
                    a(href="#")
                        img.preview(src=require("../../images/art.png"))
                        .category-logo-title
                            img.category-logo(src=require("../../images/category-logo/animation.png"))
                            p.category-title Comedy