//- main.site-main.clearfix
    .container
        .wrap-container
            .categories-title
                block titleCategory
                    h2 Video Journalism
block categories
    .playlist-container
        .video-preview
            .preview
                a(href="#")
                    img.preview(src=require("../../images/playlist/596175114_640x427.jpg"))
                    span.duration 3:08
            .title-container
                .title
                    a(href="#") RUIN AND ROSE Whistler ParkEdit
                ul.author-favorite
                    li.author
                        a(href="#")
                            img(src=require("../../images/account-logo.jpg"))
                            span Steve Cutts
                    li.favorite
                        a(href="#")
                            img.preview(src=require("../../images/favorite.png"))
        .video-preview
            .preview
                a(href="#")
                    img.preview(src=require("../../images/playlist/602555565_640x360.jpg"))
                    span.duration 5:48
            .title-container
                .title
                    a(href="#") Space Sex is Serious Business
                ul.author-favorite
                    li.author
                        a(href="#")
                            img(src=require("../../images/account-logo.jpg"))
                            span Magali Barbé
                    li.favorite
                        a(href="#")
                            img.preview(src=require("../../images/favorite.png"))
        .video-preview
            .preview
                a(href="#")
                    img.preview(src=require("../../images/playlist/604090110_640x360.jpg"))
                    span.duration 6:48
            .title-container
                .title
                    a(href="#") Pillar Point - Dove [OFFICIAL MUSIC VIDEO]
                ul.author-favorite
                    li.author
                        a(href="#")
                            img(src=require("../../images/account-logo.jpg"))
                            span Eoin Duffy
                    li.favorite
                        a(href="#")
                            img.preview(src=require("../../images/favorite.png"))
        .video-preview
            .preview
                a(href="#")
                    img.preview(src=require("../../images/playlist/605572452_640x427.jpg"))
                    span.duration 1:38
            .title-container
                .title
                    a(href="#") Night Falls on Loserville
                ul.author-favorite
                    li.author
                        a(href="#")
                            img(src=require("../../images/account-logo.jpg"))
                            span Harmonium Films and Music
                    li.favorite
                        a(href="#")
                            img.preview(src=require("../../images/favorite.png"))
        .video-preview
            .preview
                a(href="#")
                    img.preview-img(src=require("../../images/playlist/606733956_640x270.jpg"))
                    span.duration 2:48
            .title-container
                .title
                    a(href="#") LIFE VR | Remembering Pearl Harbor
                ul.author-favorite
                    li.author
                        a(href="#")
                            img(src=require("../../images/account-logo.jpg"))
                            span BRYAN M. FERGUSON
                    li.favorite
                        a(href="#")
                            img.preview(src=require("../../images/favorite.png"))
        .video-preview
            .preview
                a(href="#")
                    img.preview(src=require("../../images/playlist/616252871_640x360.jpg"))
                    span.duration 3:09
            .title-container
                .title
                    a(href="#") RUIN AND ROSE Whistler ParkEdit
                ul.author-favorite
                    li.author
                        a(href="#")
                            img(src=require("../../images/account-logo.jpg"))
                            span Mikhael Paskalev
                    li.favorite
                        a(href="#")
                            img.preview(src=require("../../images/favorite.png"))
        .video-preview
            .preview
                a(href="#")
                    img.preview(src=require("../../images/playlist/621934362_640x360.jpg"))
                    span.duration 4:45
            .title-container
                .title
                    a(href="#") RUIN AND ROSE Whistler ParkEdit
                ul.author-favorite
                    li.author
                        a(href="#")
                            img(src=require("../../images/account-logo.jpg"))
                            span Mikhael Paskalev
                    li.favorite
                        a(href="#")
                            img.preview(src=require("../../images/favorite.png"))