main.site-main.clearfix
    .container
        //-.wrap-container
        .video-clip-wrapper
            .video-clip
                .title
                    h1 Are You Lost In The World Like Me?
                .author
                    a(href="#")
                        img(src=require("../../../images/account-logo.jpg"))
                        span Steve Cutts
                ul.clip-statistics.clearfix
                    li.date
                        img(src=require("../../../images/tags-icon/date.png"))
                        span 25 JUN 17
                    li.view
                        img(src=require("../../../images/tags-icon/view.png"))
                        span 236
                    li.comment
                        img(src=require("../../../images/tags-icon/comment.png"))
                        span 12
                    li.tags
                        img(src=require("../../../images/tags-icon/tags.png"))
                        ul
                            li
                                a(href="#")
                                    span Comedy
                            li
                                a(href="#")
                                    span Sport
                            li
                                a(href="#")
                                    span Snow
                    li.favorite
                        a(href="#")
                            img(src=require("../../../images/tags-icon/favorite.png"))
                section.comments.clearfix
                    h2 Comments
                    article.comments-container
                        .comment.clearfix
                            .comment-wrapper.clearfix
                                .author-logo
                                    img(src=require("../../../images/account-logo.jpg"))
                                .body-wrapper
                                    .body
                                        header
                                            a.author-comment(href="#") Nice Cat Media
                                            span.date-ago 1 week ago
                                        section.text
                                            p This is amazing. The animation is perfect and the light setups are stunning. Also the narrative is great, it reminds me the films from Alexandr Sokurov in some ways.
                            .comment.clearfix
                                .comment-wrapper.clearfix
                                    .author-logo
                                        img(src=require("../../../images/account-logo.jpg"))
                                    .body-wrapper
                                        .body
                                            header
                                                a.author-comment(href="#") Dana Sink
                                                span.date-ago 1 month ago
                                            section.text
                                                p Spela, this is great,
                                                p Excellent work indeed,
                                                p Lovely story and great execution,
                                                p I really like that.
                            .comment.clearfix
                                .comment-wrapper.clearfix
                                    .author-logo
                                        img(src=require("../../../images/account-logo.jpg"))
                                    .body-wrapper
                                        .body
                                            header
                                                a.author-comment(href="#") Thewoken Everscorn
                                                span.date-ago 2 month ago
                                            section.text
                                                p Looooovvvveeeeeee this! Such a great quality and aesthetic.
                                                p cute all the way.
                        .comment.clearfix
                            .comment-wrapper.clearfix
                                .author-logo
                                    img(src=require("../../../images/account-logo.jpg"))
                                .body-wrapper
                                    .body
                                        header
                                            a.author-comment(href="#") Nice Cat Media
                                            span.date-ago 1 week ago
                                        section.text
                                            p This is amazing. The animation is perfect and the light setups are stunning. Also the narrative is great, it reminds me the films from Alexandr Sokurov in some ways.
                            .comment.clearfix
                                .comment-wrapper.clearfix
                                    .author-logo
                                        img(src=require("../../../images/account-logo.jpg"))
                                    .body-wrapper
                                        .body
                                            header
                                                a.author-comment(href="#") Dana Sink
                                                span.date-ago 1 month ago
                                            section.text
                                                p Spela, this is great,
                                                p Excellent work indeed,
                                                p Lovely story and great execution,
                                                p I really like that.
                            .comment.clearfix
                                .comment-wrapper.clearfix
                                    .author-logo
                                        img(src=require("../../../images/account-logo.jpg"))
                                    .body-wrapper
                                        .body
                                            header
                                                a.author-comment(href="#") Thewoken Everscorn
                                                span.date-ago 2 month ago
                                            section.text
                                                p Looooovvvveeeeeee this! Such a great quality and aesthetic.
                                                p cute all the way.
                        .comment.clearfix
                            .comment-wrapper.clearfix
                                .author-logo
                                    img(src=require("../../../images/account-logo.jpg"))
                                .body-wrapper
                                    .body
                                        header
                                            a.author-comment(href="#") Thewoken Everscorn
                                            span.date-ago 2 month ago
                                        section.text
                                            p Looooovvvveeeeeee this! Such a great quality and aesthetic.
                                            p cute all the way.
                        .comment.clearfix
                            .comment-wrapper.clearfix
                                .author-logo
                                    img(src=require("../../../images/account-logo.jpg"))
                                .body-wrapper
                                    .body
                                        header
                                            a.author-comment(href="#") Dana Sink
                                            span.date-ago 1 month ago
                                        section.text
                                            p Spela, this is great,
                                            p Excellent work indeed,
                                            p Lovely story and great execution,
                                            p I really like that.
                        .comment.reply-text.clearfix
                            .comment-wrapper.clearfix
                                .author-logo
                                    img(src=require("../../../images/account-logo.jpg"))
                                .body-wrapper
                                    .body
                                        form(name="commentForm")
                                            textarea(placeholder="New comment" rows="4")
                                        div.button-add
                                            a(href="javascript:document.commentForm.submit();") Add comment
        aside.related
            .wrap-container
                h3 Related video
            ul
                li.clearfix
                    .preview-wrapper
                        .preview
                            a(href="#")
                                img(src=require("../../../images/playlist/596175114_640x427.jpg"))
                    .title-container
                        .title
                            a(href="#") RUIN AND ROSE Whistler ParkEdit
                        .author
                            a(href="#") Spela Cadez
                li.clearfix
                    .preview-wrapper
                        .preview
                            a(href="#")
                                img(src=require("../../../images/playlist/602555565_640x360.jpg"))
                    .title-container
                        .title
                            a(href="#") By The Name of Boston
                        .author
                            a(href="#") Grant Kolton
                li.clearfix
                    .preview-wrapper
                        .preview
                            a(href="#")
                                img(src=require("../../../images/playlist/604090110_640x360.jpg"))
                    .title-container
                        .title
                            a(href="#") Richard Marx - I Will be Right here Waiting for You
                        .author
                            a(href="#") Zumbakamera
                li.clearfix
                    .preview-wrapper
                        .preview
                            a(href="#")
                                img(src=require("../../../images/playlist/606733956_640x270.jpg"))
                    .title-container
                        .title
                            a(href="#") Makeba / Jain
                        .author
                            a(href="#") Greg&Lio
                li.clearfix
                    .preview-wrapper
                        .preview
                            a(href="#")
                                img(src=require("../../../images/playlist/616252871_640x360.jpg"))
                    .title-container
                        .title
                            a(href="#") Sharks’ Teeth - Lost In The Cosmos
                        .author
                            a(href="#") Derek Beck
                li.clearfix
                    .preview-wrapper
                        .preview
                            a(href="#")
                                img(src=require("../../../images/playlist/623113911_640x270.jpg"))
                    .title-container
                        .title
                            a(href="#") The Books – ALEATORIC
                        .author
                            a(href="#") Yours Truly